<div class="jumbotron">
	<div class="container">
		<h1><%= @user.firstname %> <%= @user.lastname %></h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-2">
	<ul class="list-group">
	<% @user.attendances.where(:invited => true).each do |event| %>
	 <% if event[:yes] == true %>
			<% rsvp = "Your are attending this event" %>
	 <% elsif event[:no] == true %>
			<% rsvp = "You can't make it. Bummer." %>
	 <% else %>
			<% rsvp = "You need to rsvp for this event" %>
	 <% end %>

		<li class="list-group-item"><%= link_to @events.find(event[:event_id]).name, user_group_event_path(@user.id, Event.find(event[:event_id])[:group_id], event[:event_id])%> </a> - <%= rsvp %> </li>

	<% end %>
	</div>
</div>









