@media screen and (min-width: 992px){

  @mixin scrollbars($size, $foreground-color, $background-color) {

    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

  #accordion {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    margin: 0 0 0 -15px;
    clear: both;
  }

  .panel-group {
    margin-bottom: 0;
  }

  .panel-default > .panel-heading{
    background: transparent;
  }

  .panel-heading {
      padding: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background: transparent;
  }

  .panel-group .panel {
      border-radius: 0;
      background: transparent;
  }

  .panel-default {
    border: none;
  }

  .panel-title a {
    color: #EBF0EB;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 45px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    outline: none;
  }

  .panel-title a:hover, .panel-title a:focus, .panel-title a:active {
      text-decoration: none;
      outline: none;
  }

  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EBF0EB;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 26px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding: none;
  }

  .people>h4{
    color: #fff;
    font-size: 32px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  .people-image {
    height: 100px;
    width: 100px;
  }

  .section-heading{
    color: #fff;
    font-size: 36px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  body {

      text-align: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
  /*    font-variant: small-caps;
      font-weight: 200;*/
      /*color: #B69289;*/
      background-color: #BFE6CB;
      background-repeat: none;
      background-image: image-url('daysie-background-large.jpg');
      background-size: cover;
      @include scrollbars(10px, rgba(106,129,112,0.8), rgba(106,129,112,0.4))
    }

  .btn-signup{
    display: inline-block;
    width: 125px;
    height: 125px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
    margin-top: 5%;
    border-radius: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    margin-right: 10%;
  }

  .btn-signup {
    cursor: pointer;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .btn-signin{
    display: inline-block;
    width: 125px;
    height: 125px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
    margin-top: 5%;
    border-radius: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    margin-left: 10%;
  }

  .btn-signin {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  }

  .btn-fb {
    display: inline-block;
    width: 145px;
    height: 145px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    border-radius: 100%;
    margin-top: 5%;
    font-size: 25px;
    clear: both;
    margin: 0.5em 0;

  }

  .btn-fb:hover {
  color: rgba(106,129,112,0.9) !important;
  background-color: #fff !important;
  }

  .btn-fb i {
    cursor: pointer;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .fb-ico {
  padding-top: 15%;
  text-shadow: 1px 1px 0 white;
  }

  .dropdown_menu {
    background: #EBF0EB;
    color: #B68289;
  }

  .nav_menu {
    background: white !important;
    border-radius: 2px !important;
  }

  .nav_buttons {
    color: #B68289 !important;
  }

  .main-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 85px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 0;
  }

  .navbar-default .navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    color: #EBF0EB;
    padding: 0;
    vertical-align: middle;
  }

  .navbar-brand>img {
  display: inline;
  }

  .logo {
    height: 2.1em;
    width: 2.1em;
    padding-top: .1em;
    padding-bottom: .1em;
    display: inline;
  }

  .logo-main {
  position: absolute;
  height: 20%;
  text-align: center;
  margin-left: -5.15%;
  margin-top: -18%;
  z-index: -1;
  }

  #buttoncontainer {
    background: rgba(130,165,139,.7);
    position: fixed;
    width: 20%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 5%;
    left: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  #create_group_button {
    background: #EBF0EB;
    left: 55px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    margin: 5px;
    border-radius: 3px;
    width: 95%;
  }

  .jackie_chan {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .radial_button {
    text-align: center;
    height: 55px;
    max-width: 100%;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    background: #EBF0EB;
  }

  .radial_button:hover {
    background: #BDC1BD;
  }

	.radial_button p {
    position: absolute;
    left: 55px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
		margin-bottom: 1px;
		border-radius: 2px;
		width: 100%;
	}

  .group_image {
    background: #5D866A;
    position: absolute;
    left: 5px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #B69289;
    margin-bottom: 15px;
  }

  .submenus {
    height: 110px !important;
    width:  110px !important;
    border-radius: 50% !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    background: #EBF0EB;
  }

  @import "compass/css3";

  $sub-menus :  13;

  .radmenu {
  	height: auto;
  	width: 150px;
  	position: fixed;
  	list-style: none;
  	z-index: 2;
  	align-items: center;
  	justify-content: center;
    top: 28% !important;
    left: 38% !important;

    > a {
        top: 30% !important;
        left: 37.5% !important;
        &.show {
        display: flex !important;
        visibility: hidden;
      }
    }
    li {
    	list-style: none;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(50,50,50);
      transition: all 1s ease;
    }
    a {

      position: absolute;
      width: 300px;
      height: 300px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      display: none;
      text-decoration: none;
      transition: all 1s ease;
    }

    .daysie_image {
      background: #5D866A;
      position: absolute;
      border: 2px solid #B69289;
      border-radius: 50%;
      z-index: 3;
      top: 0px;
      left: 0px;
      height: 300px;
      width: 300px;
    }

    .selected {
    	width: 300px;
    	height: 300px;
      background: rgba(0,0,0,0);
      display: flex;
      top: 30%;
      left: 37.5%;
      color: #f1f1f1;
      box-shadow: 0 0 10px #f1f1f1;
      + ul {
        -webkit-transform: translate3d(0,0,0) translate(110px, 153px);
        transform: translate3d(0,0,0) translate(110px, 153px);
        @for $i from 1 through $sub-menus {
          > li:nth-child(#{$i}) {
            $angle: 360deg / $sub-menus * $i;

            -webkit-transform: translate3d(0,0,0) rotate($angle) translateX(200px);
            transform: rotate($angle) translateX(200px);
            > a {
              -webkit-transform: translate3d(0,0,0) rotate(0 - $angle);
              transform: rotate(0 - $angle);
            }
          }
        }
        > li > a {
          display: flex
        }
      }
    }
  }
}