@media screen and (min-width: 992px){

  body {
      background-color: #BFE6CB;
      background-repeat: none;
      background-image: image-url('daysie-background-large.jpg');
      background-size: cover;
    }

  .btn-signup{
    display: inline-block;
    width: 125px;
    height: 125px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    margin-top: 5%;
    border-radius: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    margin-right: 10%;
  }

  .btn-signup {
    cursor: pointer;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .btn-signin{
    display: inline-block;
    width: 125px;
    height: 125px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    margin-top: 5%;
    border-radius: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    margin-left: 10%;
  }

  .btn-signin {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  }

  .btn-fb{
    display: inline-block;
    width: 145px;
    height: 145px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    border-radius: 100%;
    margin-top: 5%;
    font-size: 25px;
    clear: both;
    margin: 0.5em 0;

  }

  .btn-fb:hover {
  color: rgba(106,129,112,0.9) !important;
  background-color: #fff !important;
  }

  .btn-fb i {
    cursor: pointer;
    display: inline-block;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .fb-ico {
  padding-top: 15%;
  text-shadow: 1px 1px 0 white;
  }

  .main-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 85px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  padding-top: 10%;
  padding-bottom: 0;
  }

  .navbar-default .navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    color: #EBF0EB;
    padding: 0;
    vertical-align: middle;
  }

  .logo {
    height: 2.1em;
    width: 2.1em;
    padding-top: .1em;
    padding-bottom: .1em;
  }

  .logo-main {
  position: absolute;
  height: 20%;
  text-align: center;
  margin-left: -5.15%;
  margin-top: -18%;
  z-index: -1;
  }

  #buttoncontainer {
    position: fixed;
    width: 15%;
    height: 80%;
    overflow-y: scroll;
    bottom: 5%;
    left: 0px;
  }

	.radial_button {
		text-align: center;
    max-width: 100%;
    margin: 3px;
    border-radius: 5px;
    background: rgba(0,0,0,.4);
  }

	.radial_button a {
		background: white;
		color: red;
		margin-bottom: 1px;
		border-radius: 2px;
		width: 100%;
	}

  .group_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 2% #222;
    margin-bottom: 15px;
  }

  .submenus {
    height: 110px !important;
    width:  110px !important;
    border-radius: 50% !important;
  }

  .daysie_image {
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
  }
  @import "compass/css3";

  $sub-menus :  13;

  .radmenu {
  	height: auto;
  	width: 150px;
  	position: fixed;
  	list-style: none;
  	z-index: 2;
  	align-items: center;
  	justify-content: center;
	  top: 38% !important;
	  left: 36% !important;

    > a {
      top: 30% !important;
      left: 37.5% !important;
      &.show {
      display: flex !important;
      visibility: hidden;

      }
    }
    li {
    	list-style: none;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(50,50,50);
      transition: all 1s ease;
    }
    a {
      position: absolute;
      width: 200px;
      height: 200px;
      background: rgba(white, 0.9);
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      display: none;
      text-decoration: none;
      color: #333;
      transition: all 1s ease;
      box-shadow: 0 0 15px #222;
      font-family: "segoe ui";
      font-weight: 200;
      font-size: 16px;
    }
    .selected {
    	width: 200px;
    	height: 200px;
      background: #58AD34;
      display: flex;
      top: 30%;
      left: 37.5%;
      color: #f1f1f1;
      box-shadow: 0 0 10px #f1f1f1;
      + ul {
        -webkit-transform: translate3d(0,0,0) translate(82px, 152px);
        transform: translate(70px, 110px);
        @for $i from 1 through $sub-menus {
          > li:nth-child(#{$i}) {
            $angle: 360deg / $sub-menus * $i;

            -webkit-transform: translate3d(0,0,0) rotate($angle) translateX(200px);
            transform: rotate($angle) translateX(200px);
            > a {
              -webkit-transform: translate3d(0,0,0) rotate(0 - $angle);
              transform: rotate(0 - $angle);
            }
          }
        }
        > li > a {
          display: flex
        }
      }
    }
  }
}