@media screen and (min-width:1200px){


  body {
    background: #E5DCFE;
  }

  .circle_div{
    text-align:center;
    border: 1px solid black;
    border-radius: 50%;
  }
  .circle_div > li {
   list-style-type: none;
  }

  #buttoncontainer {
  	width: 20%;
  }

  .group_image {
  	width: 117.5px;
  	height: 117.5px;
  	border-radius: 50%;
    box-shadow: 0 0 15px #222;
  }

  .submenus {
    height: 117.5px !important;
    width: 117.5px !important;
    border-radius: 50% !important;
  }

  .sidebar {
  	left: 0%;
    top: 250px;
    position: fixed;
    padding-left: 10px;
  	overflow-y: scroll;
  	width: 250px;
    height: 300px;
  }

  #daysie {
  	position: fixed;
  	top: 30%;
  	left: 37.5%;
  	width: 300px;
    height: 300px;
    border-radius: 50%;
  	z-index: 1;
  }

  .daysie_image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  #countdown {
    background-color: rgb(255, 241, 187);
    color: rgb(252, 196, 196);
    font-size: 120px;
    font-family: arial;
    text-align: center;
    width: 960px;
  }


  @import "compass/css3";

  $sub-menus :  12;

  .radmenu {
  	height: auto;
  	width: 35%;
  	position: fixed;
  	list-style: none;
  	z-index: 2;
  	align-items: center;
  	justify-content: center;
  	top: 29.5% !important;
  	left: 24.25% !important;

    > a {
      top: 30% !important;
      left: 37.5% !important;
      &.show {
      display: flex !important;
      visibility: hidden;

      }
    }
    li {
    	list-style: none;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(50,50,50);
      transition: all 1s ease;
    }
    a {
      position: absolute;
      width: 300px;
      height: 300px;
      background: rgba(white, 0.9);
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      display: none;
      text-decoration: none;
      color: #333;
      transition: all 1s ease;
      box-shadow: 0 0 15px #222;
      font-family: "segoe ui";
      font-weight: 200;
      font-size: 16px;
    }
    .selected {
      background: #58AD34;
      display: flex;
      top: 30%;
      left: 37.5%;
      color: #f1f1f1;
      box-shadow: 0 0 10px #f1f1f1;
      + ul {
        -webkit-transform: translate(82px, 152px);
        transform: translate(73px, 152px);
        @for $i from 1 through $sub-menus {
          > li:nth-child(#{$i}) {
            $angle: 360deg / $sub-menus * $i;

            -webkit-transform: rotate($angle) translateX(300px);
            transform: rotate($angle) translateX(350px);
            > a {
              -webkit-transform: rotate(0 - $angle);
              transform: rotate(0 - $angle);
            }
          }
        }
        > li > a {
          display: flex
        }
      }
    }

  }
}



