@media screen and (max-width: 991px) {

  @mixin scrollbars($size, $foreground-color, $background-color) {

    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }



  #accordion {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    margin: 0 0 0 -10px;
    clear: both;
  }

  .panel-group {
    margin-bottom: 0;
  }

  .panel-default > .panel-heading{
    background: transparent;
  }

  .panel-heading {
      padding: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background: transparent;
  }

  .panel-group .panel {
      border-radius: 0;
      background: transparent;
  }

  .panel-default {
    border: none;
  }

  .panel-title a {
    color: #EBF0EB;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 35px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    outline: none;
  }

  .panel-title a:hover, .panel-title a:focus, .panel-title a:active {
      text-decoration: none;
      outline: none;
  }

  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EBF0EB;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding: none;
    margin-left: -5%;
  }

  .people>h4{
    color: #fff;
    font-size: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
  }

  .people-image {
    height: 75px;
    width: 75px;
  }

  .section-heading{
    color: #fff;
    font-size: 26px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
  }


  body {
    background-image: image-url('daysie-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include scrollbars(10px, rgba(106,129,112,0.8), rgba(106,129,112,0.4))
  }

  .logo-main {
    display: none;
  }

    .btn-signup{
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    margin-top: 5%;
    border-radius: 100%;
    margin-right: 5%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
  }
  .btn-signin{
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    margin-top: 5%;
    border-radius: 100%;
    margin-left: 10%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
  }
  .btn-fb{
    display: inline-block;
    width: 85px;
    height: 85px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    border-radius: 100%;
    margin-top: 5%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
  }

  .fa-facebook {
    padding-top: 10%;
  }

  .main-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
  padding-top: 15%;
  padding-bottom: 15%;
  }

  .navbar-default .navbar-brand {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    color: #EBF0EB;
    padding-top: 3%;
    padding-left: 1%;
    vertical-align: middle;
  }

  .nav_menu {
    background: white !important;
    border-radius: 5px !important;
  }

  .nav_pipe {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    color: #B68289;
  }


  .dropdown_pipe {
    height: 25px;
  }

  .nav_buttons {
    color: #B68289 !important;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
  }

  .logo {
    height: 1.6em;
    width: 1.6em;
    padding-top: .1em;
    padding-bottom: .1em;
    display: inline;

  }

  .navbar-brand>img {
  display: inline;
  }


  #buttoncontainer {
    background: rgba(50,100,50,0.8);
    position: fixed;
    min-width: 100%;
    height: 175px;
    overflow-y: scroll;
    bottom: 0px;
    left: 0px;
  }

  #create_group_button {
    background: #EBF0EB;
    left: 55px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    margin: 5px;
    border-radius: 3px;
    width: 95%;
  }

  .jackie_chan {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .radial_button {
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    display: flex;
    justify-content:center;
    align-content:center;
    max-width: 95%;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
    background: #EBF0EB;
    text-align: center;
    margin-left: 5px;
  }

  .radial_button a {
    left: 55px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    margin-bottom: 1px;
    border-radius: 2px;
    width: 100%;
  }


  .group_image {
    border: 2px solid #B69289;
    background: #5D866A;
    position: absolute;
    left: 8px;
    margin-top: 2px;
    width: 45px;
    height: 45px;
    border-radius: 5%;
  }

  .submenus {
    height: 75px !important;
    width:  75px !important;
    border-radius: 50% !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 200;
    color: #B69289;
    background: #EBF0EB;
  }

  .daysie_image {
    border: 2px solid #B69289;
    position: absolute;
    background: #5D866A;
    border-radius: 50%;
    z-index: 3;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
  }



  @import "compass/css3";

  $sub-menus :  13;

  .radmenu {
    position: fixed;
    list-style: none;
    z-index: 2;
    align-items: center;
    justify-content: center;
    top: 45%;
    left: 35%;

    > a {
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      &.show {
      display: flex !important;
      visibility: hidden;
      }
    }
    li {
      list-style: none;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      transition: all 1s ease;
    }
    a {
      position: absolute;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      display: none;
      text-decoration: none;
      transition: all 1s ease;
    }
    .selected {
      background: rgba(0,0,0,0);
      display: flex;
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      color: #f1f1f1;
      box-shadow: 0 0 10px #f1f1f1;
      + ul {
        -webkit-transform: translate(82px, 155px);
        transform: translate(-4px, 18px);
        @for $i from 1 through $sub-menus {
          > li:nth-child(#{$i}) {
            $angle: 360deg / $sub-menus * $i;
            -webkit-transform: rotate($angle) translateX(250%);
            transform: rotate($angle) translateX(250%);
            > a {
              -webkit-transform: rotate(0 - $angle);
              transform: rotate(0 - $angle);
            }
          }
        }
        > li > a {
          display: flex
        }
      }
    }
  }
}