@media screen and (min-width: 992px) {

  body {
    background: #E5DCFE;
  }

  .circle_div{
    text-align:center;
    border: 1px solid black;
    border-radius: 50%;
  }
  .circle_div > li {
   list-style-type: none;
  }

  #buttoncontainer {
  	width: 20%;
  }

  .group_image {
  	width: 117.5px;
  	height: 117.5px;
  	border-radius: 50%;
    box-shadow: 0 0 15px #222;
  }

  .submenus {
    height: 117.5px !important;
    width: 117.5px !important;
    border-radius: 50% !important;
  }

  .sidebar {
    padding-top: 10px;
  	left: 0%;
    top: 250px;
    position: fixed;
    padding-left: 10px;
  	overflow-y: scroll;
  	width: 150px;
    height: 300px;
  }

  #daysie {
  	position: fixed;
  	top: 30%;
  	left: 37.5%;
  	width: 300px;
    height: 300px;
    border-radius: 50%;
  	z-index: 1;
  }

  .daysie_image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  #countdown {
    background-color: rgb(255, 241, 187);
    color: rgb(252, 196, 196);
    font-size: 120px;
    font-family: arial;
    text-align: center;
    width: 960px;
  }


}