@media screen and (min-width: 992px) {

  body {
    background: #E5DCFE;
  }

  .circle_div{
    text-align:center;
    border: 1px solid black;
    border-radius: 50%;
  }
  .circle_div > li {
   list-style-type: none;
  }

  #buttoncontainer {
  	width: 20%;
  }

  .group_image {
  	width: 117.5px;
  	height: 117.5px;
  	border-radius: 50%;
    box-shadow: 0 0 15px #222;
  }

  .submenus {
    height: 117.5px !important;
    width: 117.5px !important;
    border-radius: 50% !important;
  }

  .sidebar {
    padding-top: 10px;
  	left: 0%;
    top: 250px;
    position: fixed;
    padding-left: 10px;
  	overflow-y: scroll;
  	width: 150px;
    height: 300px;
  }
  #daysie {
  	position: fixed;
  	top: 30%;
  	left: 37.5%;
  	width: 300px;
    height: 300px;
    border-radius: 50%;
  	z-index: 1;
  }

  .daysie_image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  #countdown {
    background-color: rgb(255, 241, 187);
    color: rgb(252, 196, 196);
    font-size: 120px;
    font-family: arial;
    text-align: center;
    width: 960px;
  }

}

.btn-fb:hover, .btn-fb:active {
  background-color: #fff;
  color: #000;
}

body {
  background-image: url('daysie-background.jpg');
  background-size: cover;
}

.navbar {
  background-color: rgba(0,0,0,0.3);
  border: none;
  border-radius: 0 !important;
}
.navbar-default .navbar-toggle {
  border: none;
  background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-brand {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: small-caps;
  color: #EBF0EB;
}

.container-fluid .view {
  margin: none !important;
  padding-right: none !important;
  padding-left: none !important;

}

div.row .scene-container {
  width: 100%;
  height: 100%;
  margin: none;
  padding: none;
}

#scene {
  width: 100%;
  height: 100%;
  display: inline;
  list-style-type: none;
  margin: none;
  padding: none;
}

.layer {
  text-decoration: none;
}

.foreground {
  position: absolute;
  max-width: 100%;
}

#group_members {
  height: 50px
}

#group_admins {
  height: 50px
}

#group_member_delete {
  height: 50px;
  border: 1px solid;
}